@tailwind components;
@tailwind utilities;
@tailwind base;
@layer base {
    *,
     ::after,
     ::before {
        @apply p-0 m-0 box-border
    }
    tr {
        @apply border-transparent border-none
    }
    body {
        @apply text-black;
        /* min-height: 200vh; */
        background-color: #fff;
    }
}

@layer components {
    .padding-r-10per {
        padding-right: 10%;
    }
    .h-screen-30 {
        height: 30vh;
    }
    .h-screen-60 {
        height: 60vh;
    }
    .text {
        color: black;
    }
    .pagi-active {
        @apply text-gray-300
    }
    .top-120 {
        top: 120%;
    }
    .w-200 {
        width: 200%;
    }
    .text-clamp {
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-line-clamp: 3;
        -moz-line-clamp: 3;
    }
    .text-xsm {
        font-size: 8px;
    }
}